.idea-container {
    width: 100%;height: 680px;
    background-color: rgb(203, 198, 198);;
}
.idea-title {
    width: 100%;height: 70px;
    background-color: #3fcccb;
    color: white;font-size: 20px;
    text-align: center;line-height: 70px;
}

.idea-nav{
    list-style: none;position: relative;
    width: 100%;height: 40px;background-color: white;
    line-height: 40px;
}

.idea-nav li{
    margin: 0 8px 0 8px;
    float: left;
}

.btn{
    border: none;text-align: center;
    position: absolute;right: 0;top: 0;
    height: 40px;width: 40px;line-height: 35px; font-size: 25px;
    background-color: white;
}

.flex-container-idea {
    margin-top: 10px;
    background-color: rgb(203, 198, 198);
}

.flex-container-idea .inline {
    width: 172px;height: 206px;
}
.flex-container-idea .placeholder {
    position: relative;
    /* color: #bbb; */
    /* text-align: center; */
    /* height: 30px; */
    /* line-height: 30px; */
    /* width: 100%; */
}
.bottom-introduction{
    position: absolute;
    /* position: relative; */
    bottom: 0;left: 0;
    width: 100%;height: 33px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bottom-head{
    position: absolute;bottom: 10px;left: 2px;
    height: 30px;width: 30px;
    border-radius: 50%;background-color: rgb(139, 48, 48);
}
.bottom-text{
    height: 33px;line-height: 33px;margin-left: 10px;
    float: left;margin-left: 40px;
}
.bottom-icon{
    height: 33px;
    float: right;
}